section {
  min-height: 100vh;
  width: 100%;
}

#main {
  background-color: var(--red);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: var(--light);

  .my-welcome-text {
    display: flex;
    flex-direction: column;
  }

  .text-dark-red {
    color: theme-color(dark-red);
  }
}

.page-header {
  min-height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
