body {
  color: #777;
  font-family: "Questrial", sans-serif;
  font-size: 1.2em;
}

a {
  color: var(--red);
  transition: all 0.3s;

  &:hover {
    text-decoration: none;
    color: var(--light);
  }
}

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   font-family: "Alfa Slab One", cursive;
// }
